# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Shinyapps.io
rsconnect/
.Rproj.user

# Big data files
tariffline_agri_full.Rds
